		* {
			margin: 0;
			padding: 0;
			font-family: verdana, arial, sans-serif;
			color: #555;
			line-height: 180%;
			font-size: 22px;
			box-sizing: border-box;
		}

		body {
			background-color: #333;
			padding: 40px;
		}

		/* 
		*************************
		*************************

		PRACTICE THE POSITION PROPERTY 

		*************************
		*************************
		*/
		
		.relative {
			position: relative;
			bottom: 100px;
			width: 20%;
			margin: auto; /* CENTER THAT NON-FULL-WIDTH DIV! */
			z-index: 1; /* I'M ON TOP */ 
		}	

		.fixed {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%
		}

		.absolute {
		    position: absolute;
		    top: 2%;
		    right: 2%;
		    width: 350px;
		    height: 450px;
		    border-radius: 100%;
		    background: gold;
		    color: mediumvioletred;
		    border-top-left-radius: initial;
		}		



		/*
		*************************
		*************************
		*/

		/* ADDITIONAL STYLES TO PLAY WITH */

		#header, #content {
			padding: 50px;
		}

		#header {
			background-color: #eee;
		}

		#content {
			background-color: #fff;
		}	

		.relative, .absolute, .fixed {
			padding: 20px;
			border: 10px solid;
		}

		.fixed {
			background-color: black;
			color: #ff1493;
		}
		.fixed h2, .fixed p{
			color: #ff1493;
		}	

		.relative {
			background-color: #6495EE;
			color: #adff2f;
		}
		.relative h2, .relative p{
			color: #adff2f;
		}							

		/* TYPOGRAPHY */
		h2 {
			font-size: 2em;
		}	
